@{
    ViewData["Title"] = "PersonWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h3 class="text-right text-dark mb-4">پروفایل</h3>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold text-right"><strong>ثبت کارکرد</strong><br></p>
        </div>
        <div class="card-body">
            <section class="contact-clean">
                <form method="post">
                    <h2 class="text-center"></h2>
                    <div class="form-group"><input class="form-control text-right" type="text" name="name" placeholder="تاریخ"></div>
                    <div class="form-group"><input class="form-control text-right" type="text" name="name" placeholder="ساعت شروع"></div>
                    <div class="form-group"><input class="form-control is-invalid text-right" type="email" name="email" placeholder="ساعت پایان" /></div>
                    <div class="form-group"><input class="form-control text-right" type="text" name="name" placeholder="عنوان پروژه"></div>
                    <div class="form-group"><textarea class="form-control text-right" name="message" placeholder="شرح فعالیت" rows="14"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">ارسال </button></div>
                </form>
            </section>
        </div>
    </div>
</div>
<script>


    function InsertReport {

        var url = '/WorkReport/InsertReport';
        var model = {};

        model.Title = $('#Description').val();
        model.SortOrder = $('#SortOrder').val();
        model.LanguageId = $('#LanguageId').val();
        model.CategoryId = $('#CategoryId').val();
        model.GalleryGuids = [];
        model.ThumbnailGuid = $('#File_UploadId').val();

        if (model.Title == null || model.Title.trim().length == 0) {
            toastr.warning('وارد کردن نام مقاله الزامیست!');
            return false;
        }

     
        $.post(url, { Model: model }, function (Result) {

                toastOPSucc();
        });
    }
</script>
