@{ ViewData["Title"] = "PersonWork";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-right text-dark mb-4">پروفایل</h3>
            <div class="card shadow mb-5">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold text-right"><strong>ثبت کارکرد</strong><br></p>
                </div>
                <div class="card-body">
                    <section class="contact-clean">
                        <form method="post" action="/WorkReport/InsertReport">
                            <h2 class="text-center"></h2>
                            <div class="form-group"><input class="form-control text-right" type="date" name="DoneDate" placeholder="تاریخ"></div>
                            <div class="form-group"><input class="form-control text-right" type="time" name="StartHour" placeholder="ساعت شروع"></div>
                            <div class="form-group"><input class="form-control is-invalid text-right" type="time" name="EndHour" placeholder="ساعت پایان" /></div>
                            <div class="form-group"><input class="form-control text-right" type="text" name="Title" placeholder="عنوان"></div>
                            <div class="form-group"><textarea class="form-control text-right" name="Description" placeholder="شرح فعالیت" rows="14"></textarea></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">ارسال </button></div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
        </div>
    </footer>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

