
@{
    ViewData["Title"] = "PersonWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @*<h3 class="text-right text-dark mb-4"></h3>*@
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" style="text-align:right;">تاریخچه کارکرد</p>
        </div>
        <div class="card-body">
            <div class="row">


            </div>
            <div class="table-responsive " id="dataTable-1">
                <table class="table table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th>تاریخ انجام کار</th>
                            <th>تا ساعت</th>
                            <th>از ساعت</th>
                            <th>توضیحات</th>
                            <th>ردیف</th>
                            @*<th>عملیات</th>*@
                        </tr>
                    </thead>
                    <tbody id="PersonWorkTable">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>

    GetAll();
    function GetAll() {
        var url = '/WorkReport/GetPersonWork';

        $.get(url, function (Result) {

            $('#WorkReportTable').empty();
            debugger
            for (var i = 0; i < Result.length; i++) {
                var txt = '<tr>';
                txt += '<td>' + Result[i].doneDate + '</td>';
                txt += '<td>' + Result[i].endHour + '</td>';
                txt += '<td>' + Result[i].startHour + '</td>';
                txt += '<td>' + Result[i].description + '</td>';
                txt += '<td>' + (i + 1) + '</td>';
                //txt += '<td>' + Result[i].opration + '</td>';
                txt += '</tr>';

                $('#PersonWorkTable').append(txt);
            }

        });
    }
</script>

