
@{
    ViewData["Title"] = "WorkReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h3 class="text-right text-dark mb-4">گزارش کار</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold" style="text-align:right">کارکرد پرسنل</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive table mt-2 text-center" style="direction:rtl" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><strong>پرسنل</strong></th>
                                <th><strong>توضیحات</strong></th>
                                <th><strong>کارکرد روزانه</strong><br></th>
                                <th><strong>کارکرد ماهانه</strong></th>
                                <th><strong>کل کارکرد</strong></th>
                                <th><strong>تاریخ آخرین روز کاری</strong></th>
                                <th><strong>عملیات</strong></th>
                            </tr>
                        </thead>
                        <tbody id="WorkReportTable"></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<script>

    GetAll();
    function GetAll() {
        var url = '/WorkReport/GetWorkReport';

        $.get(url, function (Result) {

            $('#WorkReportTable').empty();
            debugger
            for (var i = 0; i < Result.length; i++) {
                var txt = '<tr>';
                txt += '<td>' + (i + 1) + '</td>';
                txt += '<td>' + Result[i].name + '</td>';
                txt += '<td>' + Result[i].description + '</td>';
                txt += '<td>' + Result[i].dailyWorkHour + '</td>';
                txt += '<td>' + Result[i].monthlyWorkHour + '</td>';
                txt += '<td>' + Result[i].totalWorkHour + '</td>';
                txt += '<td>' + Result[i].lastWorkedDate + '</td>';

                txt += '<td><div class="btn-group"><button class="btn btn-info">مشاهده</button></div></td>';
                txt += '</tr>';

                $('#WorkReportTable').append(txt);
            }

        });
    }
</script>